<template>
  <div class="<%= data.lowerName  %>"></div>
</template>

<script>
  export default {
    name: "<%= data.name  %>",
    components: {},
    props: {},
    mixins: [],
    data() {
      return {};
    },
    created() { },
    methods: {},
  };
</script>

<style scoped>
</style>